* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: "Battambang", system-ui;
  font-weight: 100;
  font-style: normal;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: linear-gradient(#eceffe, #ced6fb); */
  background-color: pink;
}
.container{
    width: 80%;
  border-radius: 12px;

}
.card-list .card-item{
    list-style: none;
}
.card-list .card-item .card-link {
  /* width: 400px; */
  user-select: none;
  display: block;
  background-color: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0,0,0,0.05);
  transition: 0.2s ease;
}
.card-list .card-item .card-link:hover{
    border-color: #5372f0;
}
.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16/12;
    object-fit: cover;
    border-radius: 10px;
}
.card-list .card-link .badge{
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95em;
    font-weight: 500;
    margin: 16px 0px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;

}
.card-list .card-link .card-tittle{
    font-size: 1.19em;
    color: black;
    font-weight:600;
}
.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    cursor: pointer;
}
.card-list .card-link:hover .card-button{
    color: #fff;
    background-color: #5372f0;
}